---

# - name: obtain thumbprint
#   command: openssl x509 -in /etc/vmware/ssl/rui.crt -fingerprint -sha1 -noout
#   register: esxi_ssl_thumbprint

- name: Add ESXi host to vCenter under a specific folder
  vmware.vmware.esxi_host:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter_name: "{{ vcenter_datacenter }}"
    cluster_name: "{{ vcenter_cluster }}"
    esxi_host_name: "{{ ansible_host }}"
    esxi_username: root
    esxi_password: "{{ ansible_password | default(ansible_ssh_password) }}"
    state: present
  delegate_to: localhost

- name: Ensure ESXi host is connected in vCenter
  vmware.vmware.esxi_connection:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter_name: "{{ vcenter_datacenter }}"
    esxi_host_name: "{{ ansible_host }}"
    state: connected
  delegate_to: localhost

- name: Wait for VCSA to show up in vCenter inventory
  community.vmware.vmware_vm_info:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    vm_type: vm
  delegate_to: localhost
  register: vm_facts
  until: (vm_facts.virtual_machines | default([]) | selectattr('guest_name', 'equalto', vcenter_appliance_name) | list) | length > 0
  retries: 10
  delay: 3
  ignore_errors: true  # noqa: ignore-errors

- name: Move vCenter VM to infra resource pool
  community.vmware.vmware_guest:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: '{{ vcenter_datacenter }}'
    cluster: '{{ vcenter_cluster }}'
    name: "{{ vcenter_appliance_name }}"
    resource_pool: infra
  delegate_to: localhost
  register: move_vcenter_vm
  until: move_vcenter_vm is success
  retries: 30
  delay: 5
  ignore_errors: true

- name: Auto-start vCenter VM
  community.vmware.vmware_host_auto_start:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    esxi_hostname: "{{ ansible_host }}"
    name: "{{ vcenter_appliance_name }}"
    power_info:
      start_action: powerOn
      start_delay: 10
      start_order: 1
      stop_action: powerOff
      wait_for_heartbeat: true
  delegate_to: localhost

- name: Ensure ISO directory exists on the datastore
  community.vmware.vsphere_file:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: '{{ vcenter_datacenter }}'
    datastore: '{{ target_esx_datastore }}'
    path: iso
    state: directory
  delegate_to: localhost

- name: Ensure vSwitch0 security policy to accept  # noqa: ignore-errors
  community.vmware.vmware_vswitch:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    esxi_hostname: "{{ ansible_host }}"
    switch_name: "vSwitch0"
    validate_certs: false
    state: present
    network_policy:
      promiscuous_mode: true
      forged_transmits: true
      mac_changes: true
  delegate_to: localhost
  ignore_errors: true

- name: Add a new ESXi license
  community.vmware.vcenter_license:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    license: "{{ esxi_license }}"
    esxi_hostname: "{{ ansible_host }}"
    validate_certs: false
    state: present
  delegate_to: localhost
  ignore_errors: true  # noqa: ignore-errors
  when: (esxi_license|length | default(0)) > 0  # noqa: yaml[empty-lines]
