---
- name: Configure pull-upload firewall rule
  ansible.builtin.template:
    src: ova-http-upload.yml.j2
    dest: /etc/vmware/firewall/ova-http-upload.yml
    mode: "0644"
  register: vcsa_deploy_set_ova_http_upload_rule
  notify: Refresh ESXi firewall

- name: Refresh ESXi firewall
  ansible.builtin.command: esxcli network firewall refresh
  changed_when: false

- name: Enable pull-upload firewall ruleset
  ansible.builtin.command: esxcli network firewall ruleset set -e true -r ova_http_upload
  changed_when: false

- name: Validate ovftool installer path
  ansible.builtin.fail:
    msg: "you need to specify the download location with ovftool_installer_zip_file variable"
  when: vcsa_deploy_ovftool_installer_zip_file is undefined

- name: Unpack ovftool
  ansible.builtin.unarchive:
    src: "{{ vcsa_deploy_ovftool_installer_zip_file }}"
    dest: /tmp
    creates: /tmp/ovftool/ovftool
    remote_src: true
  delegate_to: localhost
  connection: local

- name: Run pull-upload deployment
  vars:
    vcsa_deploy_pull_ovftool: /tmp/ovftool/ovftool
    vcsa_deploy_pull_deploy_esxi_user: "{{ ansible_user | default(ansible_ssh_user) | default('root') | urlencode }}"
    vcsa_deploy_pull_deploy_esxi_password: "{{ ansible_password | default(ansible_ssh_password) | urlencode }}"
  block:
    - name: Execute ovftool pull-upload deployment
      ansible.builtin.command: >
        {{ vcsa_deploy_pull_ovftool }}
        --acceptAllEulas
        --noSSLVerify
        --X:injectOvfEnv
        --allowExtraConfig
        --X:enableHiddenProperties
        --X:waitForIp
        --X:connectionFileTransferRetryCount=3
        --sourceType=OVA
        --powerOn
        --net:"Network 1"='{{ vcsa_deploy_target_esx_portgroup }}'
        --datastore='{{ vcsa_deploy_target_esx_datastore }}'
        --diskMode='{{ vcsa_deploy_disk_mode }}'
        --deploymentOption="{{ vcsa_deploy_vcenter_appliance_size }}"
        --prop:guestinfo.cis.appliance.root.shell=/bin/bash
        --prop:guestinfo.cis.deployment.autoconfig=True
        --prop:guestinfo.cis.silentinstall=False
        --prop:guestinfo.cis.vmdir.domain-name="{{ vcsa_deploy_sso_domain_name }}"
        --prop:guestinfo.cis.vmdir.site-name="{{ vcsa_deploy_sso_site_name }}"
        --prop:guestinfo.cis.vmdir.username="{{ vcsa_deploy_vcenter_username }}"
        --prop:guestinfo.cis.vmdir.password="{{ vcsa_deploy_sso_password }}"
        --prop:guestinfo.cis.appliance.net.addr.family="{{ vcsa_deploy_net_addr_family }}"
        --prop:guestinfo.cis.appliance.root.passwd="{{ vcsa_deploy_vcenter_password }}"
        --prop:guestinfo.cis.appliance.ssh.enabled="{{ vcsa_deploy_ssh_enable }}"
        --prop:guestinfo.cis.vmdir.first-instance=True
        --prop:guestinfo.cis.ceip_enabled=True
        --prop:guestinfo.cis.appliance.ntp.servers='{% for item in vcsa_deploy_ntp_servers %}{{ item }}{{ "," if not loop.last else "" }}{% endfor %}'
        {% if vcsa_deploy_network_ip_scheme == "DHCP" %}
        --prop:guestinfo.cis.appliance.net.mode="dhcp"
        {% elif vcsa_deploy_network_ip_scheme == "static" %}
        --name='{{ vcsa_deploy_vcenter_appliance_name }}'
        --prop:guestinfo.cis.appliance.net.pnid="{{ vcsa_deploy_vcenter_fqdn }}"
        --prop:guestinfo.cis.appliance.net.mode="static"
        --prop:guestinfo.cis.appliance.net.addr="{{ vcsa_deploy_vcenter_ip_address | ansible.utils.ipaddr }}"
        --prop:guestinfo.cis.appliance.net.prefix="{{ vcsa_deploy_vcenter_net_prefix }}"
        --prop:guestinfo.cis.appliance.net.gateway="{{ vcsa_deploy_vcenter_gateway | ansible.utils.ipaddr }}"
        --prop:guestinfo.cis.appliance.net.dns.servers='{% for item in vcsa_deploy_dns_servers %}{{ item }}{{ "," if not loop.last else "" }}{% endfor %}'
        {% endif %}
        --pullUploadMode
        '{{ vcsa_deploy_vcenter_ova_file }}'
        vi://"{{ vcsa_deploy_pull_deploy_esxi_user }}":"{{ vcsa_deploy_pull_deploy_esxi_password }}"@{{ ansible_host }}/
      register: vcsa_deploy_pull_first_attempt
      changed_when: true
      failed_when: false
      delegate_to: localhost
      connection: local

    - name: Fail when pull-upload deployment fails
      ansible.builtin.fail:
        msg: |-
          VCSA pull-upload deployment failed.
          first_attempt_rc={{ vcsa_deploy_pull_first_attempt.rc | default('n/a') }}
          first_attempt_output={{ (vcsa_deploy_pull_first_attempt.stdout | default('')) ~ ' ' ~ (vcsa_deploy_pull_first_attempt.stderr | default('')) }}
      when: vcsa_deploy_pull_first_attempt.rc | int != 0
