<ConfigRoot>
  <service>
    <id>ova_http_upload</id>
    <rule id='0000'>
      <direction>outbound</direction>
      <protocol>tcp</protocol>
      <porttype>dst</porttype>
      <port>{{ vcenter_deploy_ova_file_parsed.port if (vcenter_deploy_ova_file_parsed.port != None) else vcenter_deploy_ova_default_ports[vcenter_deploy_ova_file_parsed.scheme] }}</port>
    </rule>
    <enabled>true</enabled>
    <required>false</required>
  </service>
</ConfigRoot>