---

- name: Ensure datacenter exists
  community.vmware.vmware_datacenter:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter_name: '{{ vcenter_datacenter }}'
    state: present

- name: Ensure cluster exists
  vmware.vmware.cluster:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter_name: '{{ vcenter_datacenter }}'
    cluster_name: '{{ vcenter_cluster }}'
    state: present

- name: Ensure DRS is enabled on the cluster
  vmware.vmware.cluster_drs:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter_name: '{{ vcenter_datacenter }}'
    cluster_name: '{{ vcenter_cluster }}'
    enable: "{{ enable_drs }}"

- name: Ensure vSAN is enabled on the cluster
  community.vmware.vmware_cluster_vsan:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter_name: '{{ vcenter_datacenter }}'
    cluster_name: '{{ vcenter_cluster }}'
    enable: "{{ enable_vsan }}"
  when: enable_vsan

- name: Ensure resource pools exist
  community.vmware.vmware_resource_pool:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: '{{ vcenter_datacenter }}'
    cluster: '{{ vcenter_cluster }}'
    resource_pool: '{{ item }}'
    state: present
  loop: "{{ vcenter_resource_pools }}"

- name: Ensure folders exist
  vmware.vmware.folder:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: '{{ vcenter_datacenter }}'
    relative_path: "{{ item }}"
    folder_type: vm
    state: present
  loop: "{{ vcenter_vm_folders }}"

- name: Add a new vCenter license
  community.vmware.vcenter_license:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    license: "{{ vcenter_license }}"
    validate_certs: false
    state: present
  ignore_errors: true  # noqa: ignore-errors
  when: (vcenter_license|length | default(0)) > 0  # noqa: yaml[empty-lines]
