---
- name: Create a snapshot
  vmware.vmware.vm_snapshot:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: "{{ vcenter_deploy_ova_template_datacenter }}"
    folder: /{{ vcenter_deploy_ova_template_datacenter }}/vm
    name: "{{ item | basename | replace('.ova', '') | replace('-ovf', '') }}"
    state: present
    snapshot_name: Linked
    description: Linked
  delegate_to: localhost

- name: Convert VM to template
  community.vmware.vmware_guest:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: "{{ vcenter_deploy_ova_template_datacenter }}"
    cluster: "{{ vcenter_deploy_ova_template_cluster }}"
    name: "{{ item | basename | replace('.ova', '') | replace('-ovf', '') }}"
    is_template: true
    folder: /{{ vcenter_deploy_ova_template_datacenter }}/vm
  delegate_to: localhost

- name: Move VM to template folder
  community.vmware.vmware_guest_move:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: false
    datacenter: "{{ vcenter_deploy_ova_template_datacenter }}"
    name: "{{ item | basename | replace('.ova', '') | replace('-ovf', '') }}"
    dest_folder: /{{ vcenter_deploy_ova_template_datacenter }}/vm/template
  delegate_to: localhost
  ignore_errors: true # noqa: ignore-errors
