---
- name: Deploy ovas
  ansible.builtin.command: >
    {{ vcenter_deploy_ova_ovftool }}
    --acceptAllEulas
    --noSSLVerify
    --X:injectOvfEnv
    --allowExtraConfig
    --X:connectionFileTransferRetryCount=3
    --sourceType=OVA
    --net:"nat"='{{ vcenter_deploy_ova_target_esx_portgroup }}'
    --datastore='{{ vcenter_deploy_ova_target_esx_datastore }}'
    --diskMode='{{ vcenter_deploy_ova_disk_mode }}'
    --name="{{ item | basename | replace('.ova', '') | replace('-ovf', '') }}"
    --pullUploadMode
    '{{ item }}'
    vi://"{{ deploy_esxi_user }}":"{{ deploy_esxi_password }}"@{{ ansible_host }}/
  register: vcenter_deploy_ova_deploy_ovas
  failed_when:
    - vcenter_deploy_ova_deploy_ovas.rc != 0
    - ('Duplicate name' not in vcenter_deploy_ova_deploy_ovas.stdout)
  changed_when:
    - vcenter_deploy_ova_deploy_ovas.stdout is undefined or ('Duplicate name' not in vcenter_deploy_ova_deploy_ovas.stdout)
  delegate_to: localhost
  connection: local
  vars:
    deploy_esxi_user: "{{ ansible_user | default(ansible_ssh_user) | default('root') | urlencode }}"
    deploy_esxi_password: "{{ ansible_password | default(ansible_ssh_password) | urlencode }}"
