---
- name: Define pull-upload ovftool path on localhost
  ansible.builtin.set_fact:
    vcenter_deploy_ova_pull_ovftool: /tmp/ovftool/ovftool

- name: Verify pull-upload ovftool binary exists on localhost
  ansible.builtin.stat:
    path: "{{ vcenter_deploy_ova_pull_ovftool }}"
  register: vcenter_deploy_ova_pull_ovftool_stat
  delegate_to: localhost
  connection: local

- name: Fail when pull-upload ovftool binary is missing
  ansible.builtin.fail:
    msg: "ovftool binary not found at {{ vcenter_deploy_ova_pull_ovftool }} after installation"
  when: not vcenter_deploy_ova_pull_ovftool_stat.stat.exists

- name: Deploy ovas
  ansible.builtin.command: >
    {{ vcenter_deploy_ova_pull_ovftool }}
    --acceptAllEulas
    --noSSLVerify
    --X:injectOvfEnv
    --allowExtraConfig
    --X:connectionFileTransferRetryCount=3
    --sourceType=OVA
    --net:"nat"='{{ vcenter_deploy_ova_target_esx_portgroup }}'
    --datastore='{{ vcenter_deploy_ova_target_esx_datastore }}'
    --diskMode='{{ vcenter_deploy_ova_disk_mode }}'
    --name="{{ item | basename | replace('.ova', '') | replace('-ovf', '') }}"
    --pullUploadMode
    '{{ item }}'
    vi://"{{ deploy_esxi_user }}":"{{ deploy_esxi_password }}"@{{ ansible_host }}/
  register: vcenter_deploy_ova_deploy_ovas
  failed_when:
    - vcenter_deploy_ova_deploy_ovas.rc != 0
    - ('Duplicate name' not in vcenter_deploy_ova_deploy_ovas.stdout)
  changed_when:
    - vcenter_deploy_ova_deploy_ovas.stdout is undefined or ('Duplicate name' not in vcenter_deploy_ova_deploy_ovas.stdout)
  delegate_to: localhost
  connection: local
  vars:
    deploy_esxi_user: "{{ ansible_user | default(ansible_ssh_user) | default('root') | urlencode }}"
    deploy_esxi_password: "{{ ansible_password | default(ansible_ssh_password) | urlencode }}"
